div.credential_container{
	position: relative;
	width: 80%;
	max-width: 900px;
	min-width: 750px;
	margin: 0 auto;

	.credential_title {
		padding:7px 7px;
		position: relative;
		font-size: 14px;
		font-weight: bold;
		background: #E0E7EF;
		background-image: -moz-linear-gradient(top,#E0E7EF,#C0C8CF);
		background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#E0E7EF),to(#C0C8CF));
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr=#C0C8CF, StartColorStr=#E0E7EF); 
		text-shadow: 1px 1px 3px rgba(0,0,0,0.3);

		.sign {
			position: absolute;
			right: 10px;
			top: 6px;
		    background-position: 4px center;
		    background-repeat: no-repeat;
		    width: 24px;
		    height: 24px;
		}

		.ready {
			background-image: url("images/buttons/tick.png");
		}

		.no_ready {
			background-image: url("images/buttons/cross.png");
		}
	}

	.credential_content {

		table {
			width: 100%;
			color: #999999;

            tr {
                border: 1px solid #999;
            }
			th {
				width: 20%;
			}

			td , th{
                border: 1px solid #999;
				padding: 2px 6px;
			}
			
		}

		.view_container {
			display: inline;
			background: #999999;
			padding: 3px;
			cursor: pointer;
			background: -moz-linear-gradient(center top , #EEEEEE, #999999) repeat scroll 0 0 transparent;
			background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#999999));
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr=#999999, StartColorStr=#EEEEEE);

			.credential_view {
				display: inline;
			    color: #000000;
			    font-weight: normal;
			    line-height: 1.231;
			    padding: 0px 4px 0px 20px;
			    text-shadow:1px 1px 0 rgba(255,255,255,0.3);
			    font-size: 12px;
			    text-decoration: none;
			    background: url("images/buttons/view.png") no-repeat scroll 0px center transparent;
			}

			&:hover {
				background: -moz-linear-gradient(center top , #EFEFEF, #666666) repeat scroll 0 0 transparent;
				background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#666666));
				filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr=#666666, StartColorStr=#EFEFEF);
				
			}

			&:active {
				background: -moz-linear-gradient(center top , #666666, #EFEFEF) repeat scroll 0 0 transparent;
				background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#EFEFEF));
				filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr=#EFEFEF, StartColorStr=#666666);
			}
		}
		

	}

}